<h1 style="color: #FF0000">Player 1: <%= @game.p1.name %></h1>
<h3>is facing.........</h3>
<h1 style="color: #0000FF">Player 2: <%= @game.p2.name %></h1>
<h4 style="color: #008000"> <%= @game.p1.name %>: <%= @game.p1.hp %>/100 HP</h4>
<h4 style="color: #008000"><%= @game.p2.name %>: <%= @game.p2.hp %>/100 HP</h4>
<h5><%= @game.p1.name %> has attacked <%= @game.p2.name %>!</h5>
<a href='/play'>OK</a>
